*

!/.gitignore
!/package.json
!/postcss.config.js
!/vite.config.js

!/static/

!/static/favicon.ico
!/static/robots.txt
!/static/sitemap.xml

!/static/assets/
!/static/assets/**

!/src/
!/src/**

**/mkcert/
**/mkcert/**
**/olds/
**/olds/**