*

!/.github/
!/.github/FUNDING.yml
!/.github/workflows/
!/.github/workflows/deploy-to-pages.yml

!/.gitignore
!/README.md

!/gh-v1/
!/gh-v1/.gitignore

!/v1-0-0/
!/v1-0-0/.gitignore

!/dev/
!/dev/gitcommit.json

**/mkcert/
**/mkcert/**
**/olds/
**/olds/**