// v1-0-0/src/styles/_normalize.scss

// This normalize assumes full control over layout and text.
// Intended for Shadow DOM and isolated roots.
// Not a generic CSS reset.

@use "_extends/all";

@mixin reset-default {
  & {
    @extend %margin-0;
    @extend %padding-0;
    @extend %box-sizing;
    @extend %outline-0;
    @extend %border-0;
  }
}
@mixin reset-background {
  & {
    background: none;
    background-color: var(--bg-color, #000);
  }
}
@mixin reset-text {
  & {
    font-family: var(--font-family, sans-serif);
    font-size: var(--font-size, 1rem);
    line-height: var(--line-height, 1.5);
    font-weight: var(--font-weight, 400);
    font-style: var(--font-style, normal);
    font-optical-sizing: var(--font-optical-sizing, auto);
    font-variation-settings: var(--font-variation-settings, normal);
    color: var(--text, #fff);
  }
}
@mixin reset-all {
  & {
    * {
      &, &::before, &::after {
        @include reset-default;
      }
    }
  }
}
@mixin reset-html {
  & {
    all: unset;

    @extend %full-size;
    @supports (inline-size: 100dvw) {
      inline-size: 100dvw;
    }
    @supports (block-size: 100dvh) {
      block-size: 100dvh;
    }
  }

  &, body {
    @include reset-default;
    @include reset-all;
    @include reset-background;
    @include reset-text;
  }
}
@mixin reset-paragraph {
  & {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin reset-link {
  &, &:hover, &:active, &:visited, &:focus {
    color: inherit;
    text-decoration: none;
  }
}
@mixin start-body {
  & {
    @extend %display-block;
    @extend %relative;
    @extend %margin-auto;
    @extend %full-size;

    overflow: auto;
  }
}