// v1-0-0/src/styles/main.scss
@forward "root";
@use "normalize" as n;

html {
  @include n.reset-html;
  :where(p) {
    @include n.reset-paragraph;
  }
  :where(a) {
    @include n.reset-link;
  }
  :where(img, svg) {
    inline-size: 0;
    block-size: 0;
  }
  body {
    @include n.start-body;
    .root-container {
      display: none;
    }
  }
}