@use "_layout/micros" as m;

:host {
  display: block !important;
  gap: 0;
  inline-size: 100%;
  block-size: 100%;
  //min-inline-size: 21.875rem;

  &, *, *::before, *::after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
  }

  @include m.iframe-streams;
}

