@use "normalize" as n;
@use "_layout/_all" as l;
:host {
  :where(p) {
    @include n.reset-paragraph;
  }
  :where(a) {
    @include n.reset-link;
  }
  :where(img, svg) {
    inline-size: 0;
    block-size: 0;
  }

  @include n.reset-default;
  @include n.reset-all;
  @include n.reset-background;
  @include n.reset-text;
  @include l.layout_base;
  @extend %full-size;
  @extend %relative;

  display: flex !important;
  flex-direction: column;
  gap: 0;
  inset: 0;
  padding-inline: .75rem !important;
  min-inline-size: 20rem;
}
