@use "_layout/all";

:host {
  display: flex !important;
  gap: 4px;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
  color: var(--text);
  background-color: var(--bg-color);
  //font-size: 2rem;
  font: var(--font);

  &, *, *::before, *::after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .sec-iframe-container {
    display: block;
    inline-size: 100%;
    block-size: 100%;
  }
}
