@forward "header";
@forward "main";
@forward "footer";

header, main, footer {
  display: inline-flex;
  gap: 0.125rem;
  inline-size: 100%;
  //background-color: var(--bg-color);
}
main, footer {
  display: inline-flex;
  gap: 0.125rem;
  inline-size: 100%;
  flex-direction: column;
}
header {
  flex-direction: row;
}