%f-center {
  justify-content: center;
  align-items: center;
}
%f-text-upperbold {
  text-transform: uppercase;
  font-weight: bold;
}
%f-color {
  color: var(--color-neutral-300);
}

@mixin footer_container {
  @extend %f-center;
  @extend %f-text-upperbold;
  @extend %f-text-upperbold;

  padding: 0.5rem !important;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;

}