.header-container {
  block-size: fit-content;
  gap: 1.5ch;
  background-color: var(--bg-header-color);

  section.logo-container {
    display: inline-flex;

  }

  nav.menu-container {
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }

  .btn-group {
    display: inline-flex;
    list-style: none!important;
    flex-direction: row;
    flex-wrap: wrap;
    min-inline-size: 100%;
    block-size: fit-content;
    padding: 0.25rem;
    gap: 0.5ch;
    position: relative;

    li.btn-box {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      inline-size: fit-content;
      block-size: fit-content;
      background-color: var(--bg-header-btn-color);
      border: 0;
      border-radius: 0.25ch;
      gap: 0;
      cursor: pointer!important;

      .btn-content {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-inline: 1ch !important;
        font-size: 1.5rem;
        line-height: 1.2;
        inline-size: fit-content;
        block-size: fit-content;
        pointer-events: none!important;
        user-select: none;
      }
    }
  }
}