.header-container {
  block-size: fit-content;
  gap: 1.5ch;
  background-color: var(--bg-header-color);
  align-items: center;

  section.logo-container {
    display: inline-flex;
    inline-size: 11rem;
    block-size: 3rem;
    background-image: url("/assets/name.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;
  }

  nav.menu-container {
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }

  .btn-group {
    display: inline-flex;
    list-style: none!important;
    flex-direction: row;
    flex-wrap: wrap;
    min-inline-size: 100%;
    block-size: fit-content;
    padding: 0.25rem;
    gap: 0.5rem;
    position: relative;
    align-items: center;

    li.btn-box {
      display: inline-flex;
      position: relative;
      justify-content: center;
      align-items: center;
      inline-size: fit-content;
      block-size: fit-content;
      background-color: var(--bg-header-btn-color);
      border: 0;
      border-radius: 0.25ch;
      gap: 0;
      cursor: pointer!important;
      padding-right: 0.125rem!important;

      &.active::after {
        display: block;
        position: absolute;
        content: " ";
        top: -0.125rem;
        right: -0.125rem;
        border: 0;
        border-radius: 50%;
        inline-size: 0.5rem;
        block-size: 0.5rem;

        box-shadow: inset 0 0 2px 2px var(--active-nav-btn-color) !important;
        background-color: var(--active-nav-btn-color) !important;
      }

      .btn-content {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-inline: 1ch !important;
        padding-block: 0.5ch !important;
        font-size: 1.05rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1;
        inline-size: fit-content;
        block-size: fit-content;
        pointer-events: none!important;
        user-select: none;

      }
    }
  }
}