@use "@styles/_extends/all";
@forward "@styles/effects";

%h-background-image {
  background-position: left top;
  background-attachment: local;
}
%h-justify-center {
  justify-content: center;
}
@mixin bg-image($repeat, $width, $height, $url){
  @extend %h-background-image;
  background-repeat: $repeat;
  background-size: $width $height;
  background-image: $url;
}

@mixin header_container {
  @extend %h-justify-center;

  @include bg-image(repeat-x, 3rem, 3rem, url("/assets/glass.png"));
  overflow: hidden;
  align-items: center;


  :is(section.logo-container) {
    @extend %display-inline-flex;
    @include bg-image(no-repeat, 100%, 100%, url("/assets/name.png"));
    block-size: 3rem;
    min-inline-size: 11.032rem;
    &:hover {
      animation:fade-1 150ms ease-in-out;
      cursor: help;
    }
  }
  :is(nav.menu-container) {
    display: none;
    //@extend %display-inline-flex;
    @extend %flex-row;
    @extend %gap-0;
    justify-content: inherit;
    align-items: start;
  }
  :is(ul.btn-group) {
    @extend %display-inline-flex;
    @extend %flex-row;
    @extend %fit-height;
    @extend %relative;
    flex-wrap: wrap;
    list-style: none!important;
    min-inline-size: 100%;
    padding: 0.25rem;
    gap: 1rem;
    align-items: center;
    justify-content: inherit;

    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    line-height: 1;

    :where(li.btn-box) {
      @extend %fit-size;
      @extend %gap-0;
      padding: 0;
      padding-right: 0.125rem!important;

      display: inherit;
      position: inherit;
      align-items: inherit;
      justify-content: inherit;

      background-color: var(--color7);
      border-width: 0.05rem;
      border-style: inset;
      border-color: var(--base);
      border-radius: 0.25ch;

      cursor: pointer!important;

      &::after {
        @extend %display-block;
        @extend %absolute;
        content: " ";
        top: -0.125rem;
        right: -0.125rem;
        border: 0;
        border-radius: 50%;
        inline-size: 0.5rem;
        block-size: 0.5rem;
        //background-color: var(--color9) !important;
      }
      &.active::after {
        //background-color: var(--color6) !important;
      }
    }
    :where(.btn-content) {
      @extend %fit-size;

      display: inherit;
      align-items: inherit;
      justify-content: inherit;

      padding-inline: 2ch !important;
      padding-block: 1ch !important;

      pointer-events: none!important;
      user-select: none;
    }
  }
}
