@use "@styles/_extends/all";
@use "@styles/_pages/all" as p;

@mixin main_container {
  @extend %relative;
  flex-grow: 1;

  align-items: center;
  justify-content: start;

  .streams-container {
    display: inherit;
    @extend %fit-size;

    :is(article.welcome) {
      @include p.home_welcome;

      :is(h2) {
        @include p.home_h2;
      }
      :is(h4) {
        @include p.home_h4;
      }
      :is(ul.streams-list) {
        @include p.home_list;
      }
    }

    /*max-inline-size: 50rem;
    max-block-size: 28.125rem;
    min-inline-size: 22rem;
    min-block-size: 25rem;*/
  }
}
