@mixin iframe-streams {
  iframe.micro-streams {
    display: flex;

    inline-size: 100% !important;
    block-size: 100% !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    overflow-y: hidden !important;
    background-color: transparent !important;
  }
}