// v1-0-0/src/styles/_extends/_display.scss
%display-block {
  display: block;
}
%display-flex {
  display: flex;
}
%display-inline-block {
  display: inline-block;
}
%display-inline-flex {
  display: inline-flex;
}